#Datatypes and Structure Practical Answers

In [1]:
#1Ô∏è‚É£ Write a code to create a string with your name and print it.
name = "Muskan"
print(name)

Muskan

In [2]:
#2Ô∏è‚É£ Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [3]:
#3Ô∏è‚É£ Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
#4Ô∏è‚É£ Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [5]:
#5Ô∏è‚É£ Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
#6Ô∏è‚É£ Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7Ô∏è‚É£ Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#8Ô∏è‚É£ Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#9Ô∏è‚É£ Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
print(lst[1])#

b

In [10]:
#üîü Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#1Ô∏è‚É£1Ô∏è‚É£ Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#12Ô∏è‚É£ Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#13Ô∏è‚É£ Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
#14Ô∏è‚É£ Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#15Ô∏è‚É£ Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
#16Ô∏è‚É£ Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [17]:
#17Ô∏è‚É£ Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#18Ô∏è‚É£ Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
#19Ô∏è‚É£ Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [20]:
#20Ô∏è‚É£ Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [21]:
#21Ô∏è‚É£ Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {"name": "Muskan", "age": 20, "city": "Dhanbad"}
print(info)

{'name': 'Muskan', 'age': 20, 'city': 'Dhanbad'}

In [22]:
#22Ô∏è‚É£ Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23Ô∏è‚É£ Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [24]:
#24Ô∏è‚É£ Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25Ô∏è‚É£ Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [26]:
#26Ô∏è‚É£ Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (10, 20, 30)
my_dict = {"name": "Muskan", "age": 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(10, 20, 30)
{'name': 'Muskan', 'age': 20}

In [27]:
#27Ô∏è‚É£ Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[13, 42, 63, 63, 89]

In [28]:
#28Ô∏è‚É£ Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "cherry", "orange", "kiwi"]
print(lst[3])

orange

In [29]:
#29Ô∏è‚É£ Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#30Ô∏è‚É£ Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple", "mango"]
result = set(lst)
print(result)

{'mango', 'banana', 'apple'}